/*.page {
  max-width: calc(880px + 38px);
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 19px 0px;
}
  .page {
    max-width: 90vw;
    margin: auto;
  }
}
*/

.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  background-color: #000000;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
}
