/*
.header__logo{
  padding-bottom: 41px;
}

@media all and (max-width: 520px) {
  .header__logo{
    width: 103px;
    height: 24px;
    padding-bottom: 30px;
    margin-left: 29px;
  }
}
*/
.header__logo {
  max-width: 142px;
  padding-bottom: 38px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 103px;
    padding-bottom: 31px;
  }
}