.popup__field {
  width: 358px;
  height: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}

.popup__field:nth-last-child(2) {
  margin: 0px;
}

@media screen and (min-width: 320px) and (max-width: 585px) {
  .popup__field {
    width: 238px;
  }
}
